body{
  margin: 0;
  padding:0;
}

.container{
  width: 100%;
  height: 100vh;
  background-image: url(../images/PATTERNS.svg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-section{
  width: 470px;
  height: 500px;
  background-color:rgb(120, 120, 120);
  border-radius: 20px;
  box-shadow: 4px 4px 8px rgb(0,0,0,40%);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.box{
  height: 115px;
  background-color: rgb(244, 244, 244);
  border-radius: 5px;
  margin: 10px;
  cursor: pointer;
}

.player{
  color: rgb(244, 244, 244);
  grid-column: 1/4;
  text-align: center;
}

.check{
  background-image: url(../images/check-solid.svg);
  background-repeat: no-repeat;
  background-size:90px;
  background-position: 5px 10px;
}

.cross{
  background-image: url(../images/times-solid.svg);
  background-size:90px;
  background-repeat: no-repeat;
  background-position: 8px 0px;
}

.button{
  width: 100%;
  height: 100%;
  border:0;
  border-radius: 5px;
}

.popup{
  width: 300px;
  height: 200px;
  background-color: rgb(120,120,120);
  position: absolute;
  top: 57%;
  left:50%;
  transform: translate(-50%,-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  box-shadow: 2px 2px 8px black;

}

.popup h1{
  color: rgb(244, 244, 244);
}

.btn{
  position: relative;
  width: 120px;
  height: 40px;
  font-weight: bold;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid rgb(244, 244, 244);
  box-shadow: 0px 4px black;
  color:rgb(120, 120, 120);
}

.btn:hover{
  box-shadow: 0px 2px black;
  top:2px;
}

.btn:active{
  box-shadow: 0px 0px #efa424;
  top: 4px;
}

.player h2{
  font-size: 30px;
}


@media screen and (max-width:600px) {
  .main-section{
    width: 470px;
    height: 500px;
  }

  .box{
    height: 115px;
  }

  .player h2{
    font-size: 30px;
  }

  .check{
    background-size:100px;
    background-position: 20px 20px;
  }

  .cross{
    background-size:100px;
    background-position: 20px 5px;
  }

  .popup{
    width: 300px;
    height: 320px;
  }

  .popup h1{
    font-size: 36px;
  }

  .btn{
    width: 140px;
    height: 45px;
    font-size: 22px;
  }
}

@media screen and (max-width:480px){
  .main-section{
    width: 400px;
    height: 480px;
  }

  .box{
    height: 100px;
  }
}

@media screen and (max-width:420px){
  .main-section{
    width: 320px;
  }
}